[submodule "pulp-frontnet"]
	path = pulp-frontnet
	url = git@github.com:idsia-robotics/pulp-frontnet.git
[submodule "hardware/crazyflie-firmware"]
	path = hardware/crazyflie-firmware
	url = git@github.com:bitcraze/crazyflie-firmware.git
